.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    border: 80%;
    flex-wrap: wrap;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.logo {
    width: 93px;
    height: 27px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    color: #1C4961;
    font-size: 19px;
    font-weight: lighter;


}

header button {
    background-color: #93aaf0;
    color: #FFFFFF;
    width: 104px;
    height: 34px;
    border-radius: 17px;
    font-size: 19px;
    flex-wrap: wrap;

}

.animation {
    animation: mymove 5s infinite;

    width: 0;
    height: 0;
    opacity: 0.5;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 90px solid rgba(236, 7, 190, 0.784);


    /* background: rgb(100, 109, 211); */
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 320px;
    }
}


.ExploreNow {
    border-radius: 10px;
    background: #4468E2;
    color: #FFFFFF;
    font-weight: lighter;
}

.imageisland {
    position: relative;
    width: 100%;
    margin-top: 1%;
}

.onimage {
    position: absolute;
    top: 20%;
    left: 30%;
    flex-wrap: wrap;
}

.inputborder {
    border: none;
    font-size: 16px;
    flex-wrap: wrap;
}

.inputborder1 {
    border: none;
    font-size: 20px;
    flex-wrap: wrap;

}

h1 {
    flex-wrap: wrap;
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.first {
    color: #FFFFFF;
    width: 522px;
    height: 98px;
    align-items: center;
    font-size: larger;
    margin-left: 25%;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 5%;


}

.islandbox {
    background-color: #ffffff;
    max-width: 876px;
    width: 100%;
    display: flex;
    padding: 23px 24px;



}

.text2 {
    display: flex;
    flex-direction: column;
}

.text3 {
    display: flex;
    flex-direction: column;
}

.ExploreNow {
    display: flex;
    max-width: 187px;
    width: 100%;
    padding: 20px 30px;
    background-color: #93aaf0;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    width: 1920px;
    flex-wrap: wrap;
    margin-top: 23px;
    margin: 0 auto;
    justify-content: center;

}

.h3 {
    font-size: 50px;
    margin-top: 33px;

}

.sec2-1 {
    width: 369px;
    padding: 29px 68px 34px 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #EBF0FE; */
    box-shadow: 10px 40px 50px rgba(229, 223, 246, 0.4);
    flex-wrap: wrap;


}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ico {
    display: flex;
    width: 123px;
    height: 33px;
    justify-content: space-between;
}

.price {
    margin-right: 5%;
}

.sec2-1 p {
    font-size: 20px;
    margin-top: 23px;
}

.section2 h3 {
    font-size: 24px;

}

.section2 img {
    width: 60px;
}

.sect {
    width: 80px;
    height: 80px;
    background-color: #ebf0fec5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%; */
    margin-top: 100px;
}

.section3 h4 {
    display: flex;
    font-size: 40px;
    align-items: center;
    width: 516px;
    margin-left: 40%;
    margin-top: 121px;
}


.section3 ul {
    display: flex;
    justify-content: space-between;
    color: #163235;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 1000px;
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.shadow {
    box-shadow: 1px 3px rgb(240, 237, 237);

}

.row {
    border-bottom: 5px solid;
    height: 20px;

    border-bottom: solid rgb(96, 105, 121);

}


.firstdiv {
    display: flex;
    margin-top: 4%;

}

.firstdiv h3 {
    font-size: 190%;
}

.firstdiv p {
    font-size: 140%;
    margin-top: 4%;
    flex-direction: row;

}

.seconddiv {
    display: flex;
    margin-top: 4%;

}

.price {
    margin-left: 320px;
}

.seconddiv h3 {
    font-size: 190%;

}

.seconddiv p {
    font-size: 140%;
    margin-top: 4%;
    flex-direction: row;
    /* width: 90%; */
}

.bottom {
    width: 10%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 60%;



}


.section3 {

    width: 100%;

}

.blogs {
    display: flex;
    justify-content: space-between;
}

.bigimg {
    display: flex;
    border-radius: 1%;
    position: relative;
    width: 50%;

}

.bolo {
    width: 48%;

}

.bigimg p {
    display: flex;
    position: absolute;
    font-size: 200%;
    width: 350px;
    color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topimg {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;

}

.tired,
.fktired {
    width: 100%;
}

.topimg p {
    display: flex;
    position: absolute;
    font-size: 200%;
    width: 50%;
    color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.botimg {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.botimg p {
    display: flex;
    position: absolute;
    font-size: 200%;
    width: 50%;
    color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h5 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/* .hi {
    max-width: 40%;
    width: 50%;
    display: flex;
    padding: 23px 24px;
} */
.hi {


    box-shadow: 1px 15px #d7e3ed;

}

.bottomicon {
    height: 33px;
}

.lastclass {
    width: 100%;
    display: flex;
}

.hi img {
    width: 30px;
    height: 30px;


}

.bay {

    box-shadow: 1px 15px #d7e3ed;
}

.bay img {
    width: 30px;
    height: 30px;

}

.lastclass p {
    max-width: 50%;
    font-size: 26px;
    margin-left: 10%;
}

.last3 {
    font-size: 100px;
    color: gray;
}

footer {
    display: flex;
    /* margin: auto; */
    width: 100%;
    height: 50px;
    background-color: #E1E8F8
}

footer nav {
    display: block;
    justify-content: space-between;
    width: 600px;
    height: 50px;
    color: #1C4961;
    font-size: 19px;
    font-weight: lighter;
    /* margin: 10px 500px; */
}

.footernav {
    display: flex;
    background-color: #0099cc;
    background-image: linear-gradient(rgba(30, 255, 0, 0.229), rgba(45, 58, 67, 0.099), rgb(196, 149, 203));
    color: #ffffff;

    font-size: 12px;
    padding: 15px;
    max-width: 50%;


}

.footerp {
    display: flex;
    text-indent: 50px;

}

@media (max-width:1080px) {
    body {
        color: #4468E2;
        background-color: #163235;
        background-position: center;
        background-position: center;

    }

    .container {
        display: flex;
        margin: 0 auto;
        max-width: 100%;
        flex-wrap: wrap;

    }

    header {
        display: flex;
        max-width: 13%;
        height: auto;
        background-color: #b1cddc;
        border-radius: 50px;

    }



    header li {
        margin: auto;
        width: 50%;
        color: ghostwhite;
        margin-left: 10%;
    }

    .conect {
        display: flex;



    }

    .section1 h1 {
        visibility: hidden;
    }

    .first {
        visibility: hidden;
    }

    .islandbox {
        visibility: hidden;
    }

    .section3 h4 {
        max-width: 200px;

    }

    .shadow {
        visibility: hidden;
    }

    .firstdiv {
        display: flex;
        margin-left: 12%;
        max-width: 200px;
        flex-wrap: wrap;
        align-items: center;



    }

    .firstdiv p {
        max-width: 200px;
    }

    .seconddiv {
        display: flex;
        margin-left: 12%;
        max-width: 200px;
        flex-wrap: wrap;
        align-items: center;
    }

    .bolo {
        visibility: hidden;
    }

    .section4 {
        visibility: hidden;

    }


    .bigimg p {
        color: #4a39c8;
        margin-left: 60%;
        font-weight: bold;
        font-optical-sizing: 10px;
    }
}

@media (max-width:480px) {
    body {
        color: hotpink;
        background-color: #4468E2;
        background-image: none;



    }

}

@media (max-width:1024px) {
    body {
        color: fuchsia;
        background-color: navy;
        background-position: center;
        background-position: center;

    }

    .container {
        display: flex;
        margin: 0 auto;
        max-width: 100%;
        flex-wrap: wrap;

    }

    header {
        display: flex;
        max-width: 13%;
        height: auto;
        background-color: #b1cddc;
        border-radius: 50px;

    }



    header li {
        margin: auto;
        width: 50%;
        color: ghostwhite;
        margin-left: 10%;
    }

    .conect {
        display: flex;



    }

    .section1 h1 {
        visibility: hidden;
    }

    .first {
        visibility: hidden;
    }

    .islandbox {
        visibility: hidden;
    }

    .section3 h4 {
        max-width: 200px;

    }

    .shadow {
        visibility: hidden;
    }

    .firstdiv {
        display: flex;
        margin-left: 12%;
        max-width: 200px;
        flex-wrap: wrap;
        align-items: center;



    }

    .firstdiv p {
        max-width: 200px;
    }

    .seconddiv {
        display: flex;
        margin-left: 12%;
        max-width: 200px;
        flex-wrap: wrap;
        align-items: center;
    }

    .bolo {
        visibility: hidden;
    }

    .section4 {
        visibility: hidden;

    }

    footer {
        display: flex;



    }

    .bigimg p {
        color: #4a39c8;
        margin-left: 60%;
        font-weight: bold;
        font-optical-sizing: 10px;
    }

    .footerp {
        display:flex;
        width: 20%;
        background-color: #2a119a;
        text-indent: 50px;
        
        
    }


}