.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.logo {
    width: 93px;
    height: 27px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    color: #1C4961;
    font-size: 19px;
    font-weight: lighter;


}

button {
    background-color: #93aaf0;
    color: #FFFFFF;
    width: 104px;
    height: 34px;
    border-radius: 17px;
    font-size: 19px;
}

.imageisland {
    position: relative;
    width: 100%;
    margin-top: 1%;
}

.onimage {
    position: absolute;
    top: 20%;
    left: 30%;
}

.inputborder {
    border: none;
    font-size: 16px;
}

.inputborder1 {
    border: none;
    font-size: 20px;

}

h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.first {
    color: #FFFFFF;
    width: 522px;
    height: 98px;
    align-items: center;
    font-size: larger;
    margin-left: 25%;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 5%;


}

.islandbox {
    background-color: #ffffff;
    max-width: 876px;
    width: 100%;
    display: flex;
    padding: 23px 24px;



}

.text2 {
    display: flex;
    flex-direction: column;
}

.text3 {
    display: flex;
    flex-direction: column;
}

.ExploreNow {
    display: flex;
    max-width: 187px;
    width: 100%;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    width: 1920px;
    flex-wrap: wrap;
    margin-top: 23px;
    margin: 0 auto;
    justify-content: center;

}

.h3 {
    font-size: 50px;
    margin-top: 33px;

}

.sec2-1 {
    width: 369px;
    padding: 29px 68px 34px 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #EBF0FE; */
box-shadow: 10px 40px 50px rgba(229, 223, 246, 0.4) ;


}

.sec2-1 p {
    font-size: 20px;
    margin-top: 23px;
}

.section2 h3 {
    font-size: 24px;

}

.section2 img {
    width: 60px;
}

.sect {
    width: 80px;
    height: 80px;
    background-color: #ebf0fec5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section3 h4{
    display: flex;
    font-size: 40px;
    align-items: center;


}
